*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #212121;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Thin scrollbars */
* {
  scrollbar-width: thin;
  scrollbar-color: #404040 transparent;
}

/* Remove number input arrows */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
